.header{
    border:solid white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: "Castellar";
    color:deeppink;
}

body{
    background-image: url("https://nehitha15107.github.io/Pro-C50-My-origami-website-2/main2.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
}

.aboutme{
    border: solid white;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.subheader1{
    border:solid white;
    display: flex;
    justify-content: space-around;
    font-family:"Copperplate";
    font-weight: bold;
    font-size: 30px;
    color: lightskyblue;
}

.subheader2{
    border:solid white;
    display: flex;
    justify-content: space-around;
    font-family: "Arial";
    font-size: 20px;
    color:ivory;
}

.subheader3{
    border:solid white;
    display: flex;
    justify-content: space-around;
    font-family: "Algerian";
    font-size: 30px;
    color:violet;
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.games:hover p{
    opacity: 2;
}
.games img{
    border: 2px solid white;
    border-radius: 50px;
}
.websites:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

.simplegames{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.simplegames:hover p{
    opacity: 2;
}
.simplegames img{
    border: 2px solid white;
    border-radius: 50px;
}
.simple1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.simple2:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.simple3:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.simple4:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

.Ponggames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.Ponggames:hover p{
    opacity: 2;
}
.Ponggames img{
    border: 2px solid white;
    border-radius: 50px;
}
.Pong1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Pong2:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Pong3:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Pong4:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

.Infiniterunnergames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.Infiniterunnergames:hover p{
    opacity: 2;
}
.Infiniterunnergames img{
    border: 2px solid white;
    border-radius: 50px;
}
.Infinite1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Infinite2:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Infinite3:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Infinite4:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Infinite5:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Infinite6:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

.Sling-ShotGames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.Sling-ShotGames:hover p{
    opacity: 2;
}
.Sling-ShotGames img{
    border: 2px solid white;
    border-radius: 50px;
}
.Sling-ShotGames1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Sling-ShotGames2:hover img{
    border: 30px solid gray;
    opacity: 0.5;
    border-radius: 3px;
}
.Sling-ShotGames3:hover img{
    border: 30px solid gray;
    opacity: 0.5;
    border-radius: 3px;
}

.multiplayergames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.multiplayergames:hover p{
    opacity: 2;
}
.multiplayergames img{
    border: 2px solid white;
    border-radius: 50px;
}
.Multi1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Multi2:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Multi3:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

.Others{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.Others:hover p{
    opacity: 2;
}
.Others img{
    border: 2px solid white;
    border-radius: 50px;
}
.Others1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Others2:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.Others3:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

.pts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: solid white;
    padding: 20px;
}
.pts:hover p{
    opacity: 2;
}
.pts img{
    border: 2px solid white;
    border-radius: 50px;
}
.pts1:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.pts2:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.pts3:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.pts4:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.pts5:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}
.pts6:hover img{
    opacity: 0.5;
    border-radius: 3px;
    border: 30px solid gray;
}

h2{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-weight:500px;
    font-size: 30px;
    font-family: "Comic sans MS";
    color:mediumvioletred;
}

p{
    text-align: center;
    font-family: "Colonna MT";
    font-weight: bold;
    font-style: italic;
    color:white;
    font-size: 30px;

}
h6{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-style: italic;
}

a:link{
    color:darkslateblue;
}
a:visited{
    color:blueviolet;
}